h1{
    text-align: center;
    font-family: monospace;
}

body{
    background-color: aqua;
}

p{
    text-align: center;
}

iframe{
    align-self: center;
}

#para{
    text-align: center;
}

h2{
    text-align: center;
    font-family: monospace;
}